/* Navbar.module.css */
.navbar {
  background-color: #a64f4f; /* Color de fondo del navbar */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar {
  width: 500px; /* Ancho de la barra de búsqueda */
}

.relative {
  position: relative;
}

.bg-white {
  background-color: #ffffff;
}

.text-gray-700 {
  color: #4a4a4a;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

/* Navbar.module.css */
.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-and-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reportes, .pendientes {
  width: 300px; /* Ajusta el ancho de los cuadros según tus necesidades */
  margin: 10px;
}

.user-info {
  margin-bottom: 1rem;
}
.searchBar:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}
