.sidebar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 250px;
  height: 100%;
  padding: 25px;
  background-color: #f0f2f5;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sidebar-collapsed {
  width: 64px;
}

.menu-icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sub-menu {
  transition: all 0.3s ease;
  list-style-type: none;
  padding: 0;
}

.sub-menu li {
  padding: 4px 0;
  margin-left: 10px;
}

.sub-menu li:hover {
  color: #007acc;
}
.user-info {
  cursor: pointer;
  position: relative;
}

.user-details {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: #000;
}

.user-info:hover .user-details {
  display: block;
}
