.sidebar-container {
  margin-top: 210px; /* Corregido */
  height: 140vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position:relative;
  margin-left: 10px;
  display: flex;
  width: 250px;
  height: 100%;
  padding: 25px;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto;
  transition: width 0.3s ease;

 

}

.sidebar-collapsed {
  width: 64px;
}

/* Oculta textos cuando está colapsado */
.sidebar-collapsed .user-info p,
.sidebar-collapsed h1,
.sidebar-collapsed ul li a div {
  display: none;
}


.menu-icon {
  position: absolute;
  top: 1000px; 
  right: 20px; 
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
}

.sub-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
}

.open {
  max-height: 500px;
}


.user-info {
  cursor: pointer;
  position: relative;
}

.user-details {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(229, 189, 189);
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: #000;
}

.user-info:hover .user-details {
  display: block;
}
