/* styles.css */
.bg-welcome-image {
  background-image: url('/path/to/your/background-image.jpg'); /* Actualiza la ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
}

/* Sidebar.module.css 
.sidebar {
  color: #333; /* Color de texto */
}
/*.sub-menu {
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tu preferencia */
  font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
  color: #555555; /* Color de texto diferente */
}
