/* HomePage.module.css */

.welcomeSection {
  background-image: url('/path/to/your/inicio.webp'); /* Ruta de la imagen de bienvenida */
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}


.welcomeMessage {
  max-width: 50%;
  margin-right: 2rem;
}
